*.eps
*.asv
*.dat
*.pdf
*.jpg
*.mat
*.x
*.~
*.C
*.H
*.txt
*.odp
*.fig
*.*~
hex_seisorig
seismiclab/
#mig.m#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp